{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h2>✏️ Cập nhật phim</h2>

<form method="POST">

<div class="mb-3">
<label>Tên phim</label>
<input
class="form-control"
name="title"
value="{{ movie.title }}">
</div>

<div class="mb-3">
<label>Thể loại</label>
<input
class="form-control"
name="genre"
value="{{ movie.genre }}">
</div>

<div class="mb-3">
<label>Thời lượng</label>
<input
class="form-control"
name="duration"
value="{{ movie.duration }}">
</div>

<div class="mb-3">
<label>Ngày khởi chiếu</label>
<input
type="date"
class="form-control"
name="release_date"
value="{{ movie.release_date }}">
</div>

<div class="mb-3">
<label>Mô tả</label>
<textarea
class="form-control"
rows="5"
name="description">{{ movie.description }}</textarea>
</div>

<div class="mb-3">
<label>Poster</label>
<input
class="form-control"
name="poster"
value="{{ movie.poster }}">
</div>

<button class="btn btn-warning">
💾 Cập nhật
</button>

<a href="/admin/movies"
class="btn btn-secondary">
Quay lại
</a>

</form>

</div>

{% endblock %}
