{% extends "base.html" %}

{% block content %}

<h2 class="text-center mb-4">🎬 Danh sách phim</h2>

<div class="row">

    {% for movie in movies %}

    <div class="col-md-3 mb-4">
        <div class="card shadow h-100">

            <img src="{{ movie.poster }}" class="card-img-top">

            <div class="card-body">
                <h5>{{ movie.title }}</h5>

                <p><b>Thể loại:</b> {{ movie.genre }}</p>
                <p><b>Thời lượng:</b> {{ movie.duration }} phút</p>

                <a href="/movie/{{ movie.id }}" class="btn btn-primary w-100">
                    Xem chi tiết
                </a>
            </div>

        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}
